{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": { "ecmaVersion": 8 },
  "ignorePatterns": ["node_modules/*", "dist/*"],
  "extends": ["eslint:recommended"],
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "env": {
        "node": true,
        "es6": true
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ]
    }
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
